
:root{
    background-color:black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100.5;
    
}
h1{
    color:white;
    margin-bottom: 13px;
}
.container{
    text-align: center;
    width: 1000px;
    height: 1000px;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;}


.btn{
    background-color: blueviolet;
    color: cornsilk;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}
.btn:hover {
    cursor: cell;
    background-color: powderblue;
  transition: background-color .5s;
    
}
#highscore-btn{
    background-color: blueviolet;
    color: cornsilk;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border-radius: 4px;
}
#highscore-btn:hover {
    cursor: cell;
    background-color: powderblue;
  transition: background-color .5s;
    
}   
